// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// @import "cocktails.scss";

a {
  color: #bfdcae;
  &:hover {
    color: #81b214;
    text-decoration: none;
  }
}

.cocktail > a {
  font-size: 30px;
  color: #bfdcae;
  &:hover {
    color: #81b214;
    text-decoration: none;
  }
}

body {
  padding-top: 30px;
  background-color: white;
}
